<%= form_with(model: post, class:'text-light') do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
        <% post.errors.full_messages.each do |message| %>
          <div class="alert alert-danger"><%= message %></div>
        <% end %>
    </div>
  <% end %>

  <div class="py-3">
    <%= form.label :title, class:'fs-4 pb-2' %>
    <%= form.text_field :title, class:"form-control bg-dark text-light", placeholder: 'Enter title' %>
  </div>

  <div class="pb-3">
    <%= form.label :content, class:'fs-4 pb-2' %>
    <%= form.text_area :content, class:"form-control bg-dark text-light", placeholder: 'Enter something...', style:"resize:none;", rows: "10" %>
  </div>

  <div class="d-flex justify-content-between">
    <%= form.submit class:"btn btn-success" %>
    <%= link_to "Back", root_path, class:'btn btn-primary' %>
  </div>
<% end %>
