<div id="<%= dom_id post %>" class="my-3">
  <div class="card bg-dark text-light p-3">
    <div class="card-body">
      <h5 class="card-title fs-2"><%= post.title %></h5>
      <p class="card-text text fs-5"><%= post.content %></p>
      <%= link_to "Show more", post, class:'btn btn-primary' %>
    </div>
    <div class="card-footer text-muted text-end">
      <%= post.created_at.in_time_zone(current_time_zone).strftime("%B %d %Y, %l:%M%P") %>
    </div>  
  </div>
</div>